@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }